  <!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <!--Import Google Icon Font-->
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="css/custom.css"/>
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <meta name="theme-color" content="#9e9e9e" />
    </head>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-91635279-1', 'auto');
      ga('send', 'pageview');

    </script>
    <body class="grey darken-3">
      <ul id="user-dropdown" class="dropdown-content grey">
        <li><a href="https://bot.cyberhawk.co/servers" class="mint-text">Servers</a></li>
        <li><a href="https://bot.cyberhawk.co/logout" class="mint-text">Logout</a></li>
      </ul>
      <div class="navbar-fixed">
        <nav class="grey mint-text">
          <div class="nav-wrapper">
            <span class="brand-logo left">
              <svg id="svg2" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns="http://www.w3.org/2000/svg" height="60px" width="60px" version="1.1" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" viewBox="0 0 248.03136 318.89746"><metadata id="metadata7"><rdf:RDF><cc:Work rdf:about=""><dc:format>image/svg+xml</dc:format><dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"/><dc:title/></cc:Work></rdf:RDF></metadata><g id="layer1" transform="translate(0 -733.46)"><path id="path3469" class="mint-logo" fill-rule="evenodd" fill="#808080" d="m215.7 941.11-94.52-201.19-63.443 9.88 141.79 184.95-162.14 61.93-35.424 56.72z"/><g fill="none"><path id="path3471" class="mint-logo" d="m188.39 928.73-107.76-125.14-34.311 10.23z"/><path id="path3473" class="mint-logo" d="m186.63 932.43-116.64-65.82-28.132 17.1z"/><path id="path3475" class="mint-logo" d="m184.55 935.15-105.65-19.55-24.473 41.35z"/><path id="path3477" d="m34.372 997.48-43.191 9.6906 35.311 2.1673z"/></g><path id="path3481" class="mint-logo" fill="#a7fcd0" d="m190.51 929.79c-4.0706-5.9506-96.916-108.69-98.511-109.01-1.0788-0.21488-8.4925 1.7084-16.475 4.2745l-14.514 4.6658 16.218 12.772c24.689 19.444 112.44 87.834 113.52 88.471 0.52242 0.3088 0.41436-0.22134-0.24012-1.1781z"/><path id="path3485" class="mint-logo" fill="#a7fcd0" d="m192.21 932.48c-0.51093-0.31645-25.381-12.188-55.268-26.381l-54.339-25.806-12.034 8.6204c-6.6186 4.7412-11.939 8.772-11.823 8.9574 0.15923 0.25434 78.584 20.797 130.01 34.054 2.412 0.62184 3.9673 0.87172 3.4563 0.55554z"/><path id="path3487" class="mint-logo" fill="#a7fcd0" d="m134.68 952.29c30.835-10.379 56.527-19.099 57.092-19.378 1.1059-0.54506-45.495-2.3161-77.588-2.9488l-19.642-0.38716-8.2119 20.606c-4.5166 11.333-8.1001 20.69-7.9634 20.793 0.13671 0.10293 25.478-8.3051 56.313-18.684z"/><path id="path3491" class="mint-logo" fill="#a7fcd0" d="m16.495 1007.8 9.2647 0.4656 3.0095-4.3678c1.6552-2.4024 2.8392-4.4041 2.6312-4.4483-0.60886-0.12933-28.741 6.156-29.364 6.5606-0.93436 0.6068 4.6339 1.2961 14.458 1.7899z"/><path id="path3493" class="mint-logo" fill-rule="evenodd" fill="#808080" d="m173.47 960.99 34.779-8.3915 12.966 6.0724-8.3965 18.588-102.16 24.65 12.593-14.54"/><path id="path3497" fill="none" d="m233.16 968.63 8.9781-6.2239 1.4024 2.0186c0.95368 1.3727 1.4616 1.7018 1.5875 1.0283 0.25127-1.3446 0.2196-10.029-0.0381-10.426-0.26062-0.4013-23.621-3.5553-24.088-3.2522-0.18978 0.12322 1.9621 1.4924 4.782 3.0425 2.8198 1.5502 5.041 3.1595 4.9358 3.5762-0.10515 0.41676-1.6908 4.18-3.5238 8.3628-1.8329 4.1828-3.2609 7.7158-3.1734 7.8512 0.0875 0.13541 4.1993-2.5546 9.1373-5.9777z"/><path id="path5735" class="mint-logo" fill="#a7fcd0" d="m225.15 970.55c5.6366-3.1533 10.354-5.7009 10.483-5.6613 0.12968 0.0381 0.86364 1.4428 1.6318 3.1184 0.76818 1.6756 1.4805 2.9288 1.583 2.7848 0.216-0.30355 1.6406-14.44 1.4848-14.734-0.11759-0.22115-25.871-6.2462-27.796-6.5031-1.0754-0.14298-0.37544 0.4256 5.1818 4.213 3.5338 2.4084 6.4533 4.4199 6.4877 4.47s-2.049 4.0044-4.6299 8.7874-4.6885 8.8226-4.6835 8.9769c0.005 0.15437 4.6208-2.2993 10.257-5.4526z"/></g></svg>
              <span class="hide-on-small-only" ><svg width="262" height="50" version="1.1" viewBox="0 0 262 50" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"><metadata><rdf:RDF><cc:Work rdf:about=""><dc:format>image/svg+xml</dc:format><dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"/><dc:title/></cc:Work></rdf:RDF></metadata><g transform="translate(-18.842 -1002.1)"><text transform="scale(.95001 1.0526)" x="17.7166" y="990.39447" fill="#a7fcd0" font-size="9.1316px" letter-spacing="0px" word-spacing="0px" style="line-height:125%" line-height="125%" xml:space="preserve"><tspan x="17.7166" y="990.39447" font-family="'Yu Gothic'" font-size="41.092px" font-weight="bold">サイバーホーク</tspan></text></g></svg></span>
              </span>
            <ul class="right">
              {{#if user}}
              <li style="padding-right:2px;">
                <a class="dropdown-button mint-text" href="#!" data-activates="user-dropdown">
                  {{#if user.avatar}}
                  <img width="50" height="50"src="https://cdn.discordapp.com/avatars/{{user.id}}/{{user.avatar}}.jpg" alt="" class="circle" style="vertical-align:middle">
                  {{else}}
                  <img width="50" height="50"src="./default_avatar.png" alt="" class="circle" style="vertical-align:middle">
                  {{/if}}
                <span class="hide-on-small-only">{{user.username}}#{{user.discriminator}}</span></a>
              </li>
              {{else}}
              <li>
                <a class="mint-text" href="https://discordapp.com/oauth2/authorize?response_type=code&redirect_uri=https%3A%2F%2Fbot.cyberhawk.co%2Flogin&scope=identify%20guilds&client_id=193403294419255297">
                  <span class="hide-on-med-and-down"><i class="large material-icons left">perm_identity</i>Login</span>
                <i class="large material-icons hide-on-large-only">perm_identity</i></a>
              </li>
              {{/if}}
          </div>
        </nav>
      </div>
      <main>
      <div class="row">
        <div class="col s12 l6 offset-l3">
          {{#if user}}
          {{#if guilds}}
          <h2 class="center-align mint-text">Servers</h2>
          <div class="collection grey">
            {{#each guilds}}
            <a class="collection-item avatar" href="http://bot.cyberhawk.co/server?serverID={{this.id}}">
              {{#if this.icon}}
              <img src="https://cdn.discordapp.com/icons/{{this.id}}/{{this.icon}}.jpg" alt="" class="circle">
              {{else}}
              <img src="./default.png" alt="" class="circle">
              {{/if}}
              <span class="title grey-text text-darken-3">{{this.name}}</span>
              {{#if this.settings}}
              <p> Prefix: {{this.settings.prefix}} <br>
                  
              </p>
              {{else}}
              <p>HawkBot isn't on this server. <br>
                 You should invite it, hehe.
              </p>
              {{/if}}
            </a>
            {{/each}}
          </div>
          {{else}}
          <div class="card-panel grey">
            <span class="grey-text text-darken-3">You don't seem to have admin privledges on any of the servers HawkBot is on.</span>
          </div>
          {{/if}}
          {{else}}
          <div class="card-panel grey">
            <span class="grey-text text-darken-3">You are not logged in, please do so.</span>
          </div>
          {{/if}}
        </div>
      </div>
      </main>
      <footer class="page-footer grey">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="grey-text text-darken-3 grey-underline">HawkBot Control Panel</h5>
              <p class="grey-text text-darken-3">
                Control panel used to customize HawkBot per server!<br>
                Made with <i class="material-icons mint-text">favorite</i> by CyberRonin#5517.
              </p>
              <svg id="svg4884" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns="http://www.w3.org/2000/svg" height="61px" viewBox="0 0 612.99202 216.1416" width="173px" version="1.1" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/"><g id="layer1" transform="translate(0 -836.22)"><path class="mint-logo" id="path10" fill="#808080" d="m45.14 1034.9 76.983-6.5875-1.8205-20.564-80.668 6.7949z"/><path class="mint-logo-stroke" id="path16" d="m122.61 986.87 6.7872 61.836" stroke="#808080" stroke-width="3.3864" fill="none"/><path class="mint-logo" id="path18" fill="#a7fcd0" d="m128.43 1003.1 413.78-31.782 25.078 28.547-434.14 30.275-3.0512-27.799"/><path class="mint-logo" id="path10-1" fill="#808080" d="m9.4802 974.85 88.282-6.5875-2.0877-20.564-92.509 6.7948z"/><path class="mint-logo-stroke" id="path16-8" d="m98.316 926.85 7.7834 61.836" stroke="#808080" stroke-width="3.6265" fill="none"/><path class="mint-logo" id="path18-4" fill="#a7fcd0" d="m104.99 943.09 474.51-31.782 28.759 28.548-497.86 30.275-3.4991-27.799"/><text class="logo-text"id="text5448" style="word-spacing:0px;letter-spacing:0px" xml:space="preserve" font-size="40px" line-height="125%" y="898.81946" x="263.64978" font-family="sans-serif" fill="#a7fcd0"><tspan id="tspan5450" font-size="70px" font-family="sans-serif" y="898.81946" x="263.64978" font-weight="bold" fill="#a7fcd0">浪人</tspan></text></g></svg>
            </div>
            <div class="col l6 s12">
              <h5 class="grey-text text-darken-3 grey-underline">Important Links</h5>
                <ul>
                  <li><a class="mint-text" href="https://discord.gg/jDpR9PD">Discord Server</a></li>
                  <li><a class="mint-text" href="http://www.cyberhawk.co">Main Website</a></li>
                  <li><a class="mint-text" href="https://github.com/CyberHawkSoftware/HawkBot/tree/public">Github Repo</a></li>
                </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container grey-text text-darken-4">
            Copyright © 2016-2017 Cyberhawk.co, All Rights Reserved
          </div>
        </div>
      </footer>
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
      <script type="text/javascript" src="js/custom.js"></script>
    </body>
  </html>
        